*{
    box-sizing: content-box; 
    transition: all 250ms ease-in-out;
    
    margin :0px


 }
 html,body{
     margin:0px;
     padding:0px;
     font-size: 10px;
 
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    width: 100vw;
    /*display: flex;*/
    transition: all 0s ease-in-out;




 }

 .navbar{
     width: 100%;
     background-color: rgba(16, 15,46 , 1);
     height: 5rem;
     padding: auto;
     display: flex;
     justify-content: space-evenly;
     align-content: center;
     padding-left:3% ;
     padding-right:3% ;
     justify-content: space-evenly;
     align-items: center;
 }
 .logo img{
     height: 2rem;
     width: 2rem;
     padding: 0.5rem;

 }

  li{
     list-style: none;

 }
 .links {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    text-transform: capitalize;
 }
.links li{
    padding: 1rem;
    text-transform: capitalize;
    font-size: 1.5rem;


}

a{
    text-decoration: none;
    color: inherit;
}




.links li:hover , .links li:active{
    color :#fdb638;
    transform: scale(1.2);
    

}
.links li:visited{

    color: #bb8529;
}

 button {
    color: white;
    background-color: #fdb638;
    padding: 1rem;
    padding-left: 2rem;
    padding-right:2rem ;
    border-radius:2rem ;
    border: 0;
    cursor: pointer;
    
}
button:hover{
box-shadow: 0px 0px  15px  #fdb638;
}

header {
    background-color: black;
    height: 100%;
    width: 100%;
}
.navcard{
    background-color: black;
    padding: auto;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding-left:3% ;
    padding-right:3% ;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    
     
    

}

.infocard  {
   
    color: #ffffff;
    

         
} 


.navcard h3{
    color: #fdb638;
}
.contact{
position: relative;
    background-color: black;
    border-color:  #fdb638;
    color: #fdb638;
    width: auto;
    height: auto;
    border: 2px solid #fdb638;
   
    

}

.portpic {
    position: relative;
    width: 200px;
    height: 200px;
    

}


